.textInput{
    background-color: white;
    border:1px solid black;
    border-radius:5px;
    font-size: 21px;
    height: 45px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 15px;
    border-width: 1px;
    padding: 10px;
}