

.container {
    flex: 1;
    background-color: black;
}
.inputView {
    padding:12px;
    flex:1;
    justify-content:center;
    // background-color: white;
}

.iconView {
    flex: 3;
    align-items: center;
    justify-content: center;
    // background-color: gray;
}
.iconHolder {
    padding: 5px;
}
.icon {
   width: 200px;
   height: 200px;
}

.imageContainer {
    border: 1px solid;
    padding: 10px;
}
.FbOuter {
    background-color:white;
    border-radius: 50px;
}

.image {
    width: 30px;
    height: 30px;
}

.btnView {
    flex:3;
    align-items: center;
    // background-color: gray;
    margin-top: 30px;
}
.btnList1{
    flex-direction: row;
}

.socialLoginView {
    flex:2;
    justify-content: center;
    flex-direction: row;
   // background-color: gold;
}

.socialList{
    margin:8px; 
}